
li.MuiButtonBase-root {
  display: flex !important;
  text-align: left;
}

.MissionOptions {
  padding: 0;

  button {
    padding: 0;
  }

  path {
    fill: var(--link);
  }
}

.MuiMenu-list {
  li {
    font-size: var(--font-size-m);
  }
}

.MuiDialog-paper {
  h2 {
    //font-family: var(--font);
  }
  p {
    font-size: var(--font-size-m);
    color: var(--black);
  }
  div {
    padding-top: 0;
    padding-bottom: 0;
  }
  button {
    padding: 5px;
  }
}

div.MuiDialogActions-root {
  padding-right: 24px;
  padding-bottom: 12px;
}